<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Поиск по базе</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <div class="container">
      <div id="push" class="row">
      </div>
      <div class="row">
	<div class="col-md-4 col-md-offset-4">
	  <h1>Поиск по базе</h1>
	  <p>Найдено записей {{recordsCount}}</p>
	  <table class="table">
            <thead>
              <tr>
		<th>ID</th>
		<th>Имя</th>
		<th>Фамилия</th>
              </tr>
            </thead>
            <tbody>
	      {{#records}}
	      <tr>
		<td>{{id}}</td>
		<td>{{firstName}}</td>
		<td>{{lastName}}</td>
	      </tr>
	      {{/records}}
            </tbody>
	  </table>
	</div>
      </div>
    </div>
  </body>
</html>
